.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 35px 60px;

    background: transparent;

    height: 5vh;

    font-size: 1.1em;
}

.navigation {
    display: flex;
    align-items: center;

    gap: 3em;

    list-style: none;
}

.navbar img{
    width: 80px;
}
