.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 35px 60px;

    background: transparent;

    height: 5vh;

    font-size: 1.1em;
    margin-bottom: 1.2em;
}

.navbar div:first-child{
    display: flex;
    align-items: center;
    gap: 1em;

    width: max-content;
}

.navigation {
    display: flex;
    align-items: center;

    gap: 3em;

    list-style: none;
}

.navbar img{
    width: 80px;
}

.navbar span{
    color: rgb(11, 158, 243);
}

.navbar span{
    color:#eb7e10;
}